<p>Before ng-template</p>
<div *ngTemplateOutlet="sample"></div>
<p>After ng-template</p>

<p appOverHighlight>當游標移到這裡，會改變文字顏色</p>
<input type="text" [(ngModel)] = "condition"/>
{{condition}}
<br>
<ng-template #sample>
  <p>Hello World with ng-template</p>
</ng-template>

<button type="button"
        [disabled]="fontSize === 16"
        (click)="onIncrease(1)" >
        增加1
</button>

<button type="button"
        [disabled]="fontSize === 10"
        (click)="onDecrease(1)" >
        遞減1
</button>
<br>
{{fontSize}}
<br>

<button type="button" (click)="onSetFontSize(1)" [attr.disabled]="fontSize === 16 ? 'disabled' : null">增加 1 pt</button>
<button type="button" (click)="onSetFontSize(-1)" [attr.disabled]="fontSize === 10 ? 'disabled' : null">減少 1 pt</button>

<p [style.fontSize]="fontSize + 'pt'">
    目前文字尺寸: {{fontSize}} pt
</p>

<p [style.fontSize.pt]="fontSize">
    目前文字尺寸 : {{ fontSize }} pt
</p>

<button type="button" (click)="fontSizeType = 'small'">小</button>
<button type="button" (click)="fontSizeType = 'middle'">中</button>
<button type="button" (click)="fontSizeType = 'biggest'">大</button>
<p [class]="fontClass">目前文字樣式：{{ fontClass }}</p>

<app-font-size [size]="12" color="blue" (sizeChange) = "onSetFontSize($event)"></app-font-size>

<app-font-size [(size)]="fontSize"></app-font-size>

<app-child>
  <div>AppComponent 指定內容</div>
</app-child>

<button appbsbutton="">Button with Attribute Directive</button>
<p appOverHighlight>當游標移到這裡，會改變文字顏色</p>
<h1>Hello, you have pressed enter {{counter}} number of times!</h1> Press enterkey to increment the counter. <button (click)="resetCounter()">Reset Counter</button>

<div>Upper Case: {{ 'angular'| uppercase}}</div>
<div>Lower Case: {{ 'angular'| lowercase}}</div>
<div>Upper Case: {{ 'angular'| titlecase}}</div>
<div>
  {{'只會顯示七個字(這裡全部顯示)' | slice: 0:6}}
</div>

<table border="1">
  <tr>
    <th>欄位</th>
    <th>內容</th>
  </tr>
  <tr *ngFor="let t of task | keyvalue">
    <td>{{ columnDesc[t.key] }}</td>
    <td>{{ t.value }}</td>
  </tr>
</table>
<div>預設數值顯示: {{3.14159 | number }}</div>
<div>
  指定整數與小數長度: {{3.14159 | number: '4.1-5'}}
</div>
<div>百分率:{{0.25 | percent: "2.2-4"}}</div>

<div>金額: {{25000 | currency}}</div>
<div>
  CAD 貨幣碼: {{25000 | currency: "CAD"}}
</div>
<div>
  貨幣指示格式:{{25000 | currency: "EUR": "symbol"}}
</div>
<div>
UTC時間: {{now | date: "short":"+0000"}}
</div>
<app-task *ngFor="let task of tasks | orderBy: 'State'" [task]="task"></app-task>

<table border="1">
  <tr>
    <th>單價</th>
    <th>數量</th>
  </tr>
  <tr *ngFor="let item of orderService.details">
    <td>{{ item.UnitPrice }}</td>
    <td>{{ item.PurchaseCount }}</td>
  </tr>
  <tr>
    <td>總金額</td>
    <td>{{ total }}</td>
  </tr>
</table>

<form #form="ngForm">
  <ng-container #user="ngModelGroup" ngModelGroup="user">
    <div>姓名：<input type="text" name="name" ngModel /></div>
    <div>Email：<input type="text" name="email" ngModel /></div>
  </ng-container>
</form>
<pre>{{ form.value | json }}</pre>
<form #form="ngForm">
  <ng-container #user="ngModelGroup" ngModelGroup="user">
    <div>姓名 : <input type="text" name="name" ngModel/></div>
    <div>Email:<input type="text" name="email" ngModel/></div>
  </ng-container>
</form>

<form #form="ngForm" (submit)="onSubmit(form)">
  <div>帳號:<input type="text" name="id" #id="ngModel" ngModel/></div>
  <div>
    密碼: <input type="password" name="password" #password="ngModel" ngModel />
  </div>
  <div>
    <button type="reset">重設</button>
    <button type="submit">登入</button>
  </div>
</form>
<pre>{{form.value | json}}</pre>
<h4>帳號狀態</h4>
<pre>是否曾經點選過：{{ id.touched | json }}</pre>
<pre>是否從未點選過：{{ id.untouched | json }}</pre>
<hr />
<h4>表單狀態</h4>
<pre>是否曾經點選過：{{ form.touched | json }}</pre>
<pre>是否從未點選過：{{ form.untouched | json }}</pre>

帳號 : <input type="text" name="id" #id="ngModel" ngModel minlength="8" required/>
<ng-container *ngIf="id.touched">
  <span *ngIf="id.hasError('required')">
    帳號為必填欄位
  </span>
  <span *ngIf="id.hasError('minlength')">
    最少要{{id.errors.minlength.requiredLength}}字元
  </span>
</ng-container>

帳號 : <input type="text" name="emialId" #id="ngModel" ngModel minlength="8" required/>
<ng-container *ngIf="id.touched">
  <span *ngIf="id.hasError('email')">
    帳號應符合email格式
  </span>
</ng-container>

密碼 : <input type="password" name="password" #password="ngModel" ngModel pattern="^[a-zA-Z]"/>
<ng-container *ngIf="password.touched">
  <span *ngIf="password.hasError('pattern')">
    密碼只接受英文字母
  </span>
</ng-container>

<form #form="ngForm">
  <div>
    單價：<input
      type="text"
      name="price"
      #price="ngModel"
      ngModel
      appDecimalValidator
      [digitLength]="2"
      [scaleLength]="1"
    />
    <ng-container *ngIf="price.touched">
      <span *ngIf="price.hasError('decimal')">
        單價應為 {{ price.errors.decimal.digitLength }} 位整數位與
        {{ price.errors.decimal.scaleLength }} 位整數位的數值
      </span>
    </ng-container>
  </div>
</form>

<form #form="ngForm">
  <div>
    單價 : <input
      type="text"
      name="price"
      ngModel
      appDecimalValidator
      [digitLength]="2"
      [scaleLength]="1"
    />
    <ng-container *ngIf="price.touched">
      <span *ngIf="price.hasError('decimal')">
        單價應為 {{ price.errors.decimal.digitLength }}位整數位與
        {{ price.errors.decimal.scaleLength}} 位整位數的數值
      </span>
    </ng-container>
  </div>
</form>
查詢條件：<input type="text" [formControl]="condition" />
<button typte="button" (click)="onSearch()">查詢</button>
查詢條件 : <input type="text" [formControl]="formCondition"/>
<button type="button" (click)="onSearch()">查詢</button>

