<button type="button"
        [disabled]="fontSize === 16"
        (click)="onIncrease(1)" >
        增加1
</button>

<button type="button"
        [disabled]="fontSize === 10"
        (click)="onDecrease(1)" >
        遞減1
</button>
<br>
{{fontSize}}
<br>

<button type="button" (click)="onSetFontSize(1)" [attr.disabled]="fontSize === 16 ? 'disabled' : null">增加 1 pt</button>
<button type="button" (click)="onSetFontSize(-1)" [attr.disabled]="fontSize === 10 ? 'disabled' : null">減少 1 pt</button>

<p [style.fontSize]="fontSize + 'pt'">
    目前文字尺寸: {{fontSize}} pt
</p>

<p [style.fontSize.pt]="fontSize">
    目前文字尺寸 : {{ fontSize }} pt
</p>

<button type="button" (click)="fontSizeType = 'small'">小</button>
<button type="button" (click)="fontSizeType = 'middle'">中</button>
<button type="button" (click)="fontSizeType = 'biggest'">大</button>
<p [class]="fontClass">目前文字樣式：{{ fontClass }}</p>

<app-font-size [size]="12" color="blue" (sizeChange) = "onSetFontSize($event)"></app-font-size>

